<!DOCTYPE html>
<html>
{{> head}}
<body>
    {{> nav}}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/requirements">Requirements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/update/{{type}}s/{{_id}}">Update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/delete/{{type}}s/{{_id}}">Delete</a>
      </li>
    </ul>
    <div class="jumbotron">
      <h1 class="display-4">{{name}}</h1>
      <p class="lead">{{description}}</p>
      <hr class="my-4">
      <p>Credit Hours: {{credits}}</p>
    </div>
</body>
</html>
