<!DOCTYPE html>
<html>
{{> head}}
<body>
    <h1>Requirements By State</h1>
    <h2><a href="/">States</a> | {{name}}</h2>
    <h3>Requirements</h3>
    <ul>
    {{#each requirements}}
        <li><a href="requirements/{{id}}">{{name}}</a></li>
    {{/each}}
    </ul>
    <h3>Students</h3>
    {{#each students}}
        <li><a href="students/{{id}}">{{name}}</a></li>
    {{/each}}
</body>
</html>
