<!DOCTYPE html>
<html>
{{> head}}
<body>
    {{> nav}}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/{{type}}">{{display}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#create">Create</a>
      </li>
    </ul>
    <form class="form-border" action="/{{type}}s/{{id}}" method="post">
        <div class="form-group row">
            <label for="formName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="formName" placeholder="{{name}}" name="name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="formDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="formDescription" placeholder="{{description}}" name="description">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" href="/{{type}}s/{{id}}" role="button">Cancel</a>
    </form>
</body>
</html>
