<form method="POST" action="/shops/{{shop._id}}?_method=PUT">

 <label for="name">Shop Name:</label>
  <input
    type="text"
    placeholder="name"
    name="name"
    id="name"
    value="{{shop.name}}"
  />

  <label for="rating">Rating:</label>
  <input
    type="number"
    name="rating"
    id="rating"
    value="{{shop.rating}}"
  />

  <label for="category">Category:</label>
  <input
    type="text"
    name="category"
    id="category"
    placeholder="category"
    value="{{shop.category}}"
  >

  <label for="description">Description</label>
  <textarea
    name="description"
    id="description"
    cols="30"
    rows="10"
  >value={{shop.description}}</textarea>

  <label for="img-link">Image Link:</label>
  <input type="text" name="imgLink" id="img-link" value="{{shop.imgLink}}">

  <input type="submit" value="Update Shop" />
</form>
